<section class="section featured-car" id="featured-car">
  <app-navigation-bar></app-navigation-bar>

  <div class="container">

          <ul class="featured-car-list">

            <li>
              <div class="featured-car-card">

                <figure class="card-banner">
                  <img src="./assets/images/prod-1.jpg" alt="Cerveza" loading="lazy" width="440" height="300"
                    class="w-100">
                </figure>

                <div class="card-content">

                  <div class="card-title-wrapper">
                    <h3 class="h3 card-title">
                      <a href="#">Caja de cerveza</a>
                    </h3>

                  </div>

                  <div class="card-price-wrapper">

                    <p class="card-price">
                      <strong>$30</strong> / caja
                    </p>


                    <button routerLink="/cotizar" class="btn">Cotizar</button>

                  </div>

                </div>

              </div>
            </li>

            <li>
              <div class="featured-car-card">

                <figure class="card-banner">
                  <img src="./assets/images/prod-2.jpg" alt="Carne" loading="lazy" width="440" height="300"
                    class="w-100">
                </figure>

                <div class="card-content">

                  <div class="card-title-wrapper">
                    <h3 class="h3 card-title">
                      <a href="#">Carne de Res</a>
                    </h3>

                  </div>


                  <div class="card-price-wrapper">

                    <p class="card-price">
                      <strong>$15</strong> / kilo
                    </p>



                    <button routerLink="/cotizar"  class="btn">Cotizar</button>

                  </div>

                </div>

              </div>
            </li>

            <li>
              <div class="featured-car-card">

                <figure class="card-banner">
                  <img src="./assets/images/prod-3.jpeg" alt="Huevos" loading="lazy" width="440"
                    height="300" class="w-100">
                </figure>

                <div class="card-content">

                  <div class="card-title-wrapper">
                    <h3 class="h3 card-title">
                      <a href="#">Huevos</a>
                    </h3>

                  </div>


                  <div class="card-price-wrapper">

                    <p class="card-price">
                      <strong>$5</strong> / kilo
                    </p>



                    <button routerLink="/cotizar"  class="btn">Cotizar</button>

                  </div>

                </div>

              </div>
            </li>

            <li>
              <div class="featured-car-card">

                <figure class="card-banner">
                  <img src="./assets/images/prod-4.jpg" alt="Sonido" loading="lazy" width="440"
                    height="300" class="w-100">
                </figure>

                <div class="card-content">

                  <div class="card-title-wrapper">
                    <h3 class="h3 card-title">
                      <a href="#">Equipo de Sonido</a>
                    </h3>

                  </div>



                  <div class="card-price-wrapper">

                    <p class="card-price">
                      <strong>$250</strong>
                    </p>



                    <button routerLink="/cotizar"  class="btn">Cotizar</button>

                  </div>

                </div>

              </div>
            </li>

            <li>
              <div class="featured-car-card">

                <figure class="card-banner">
                  <img src="./assets/images/prod-5.jpg" alt="Television" loading="lazy" width="440"
                    height="300" class="w-100">
                </figure>

                <div class="card-content">

                  <div class="card-title-wrapper">
                    <h3 class="h3 card-title">
                      <a href="#">Television</a>
                    </h3>


                  </div>


                  <div class="card-price-wrapper">

                    <p class="card-price">
                      <strong>$330</strong>
                    </p>



                    <button routerLink="/cotizar"  class="btn">Cotizar</button>

                  </div>

                </div>

              </div>
            </li>
            <li>

              <div class="featured-car-card">

                <figure class="card-banner">
                  <img src="./assets/images/prod-6.jpeg" alt="Pescado" loading="lazy" width="440" height="300"
                    class="w-100">
                </figure>

                <div class="card-content">

                  <div class="card-title-wrapper">
                    <h3 class="h3 card-title">
                      <a href="#">Pescado</a>
                    </h3>


                  </div>


                  <div class="card-price-wrapper">

                    <p class="card-price">
                      <strong>$3</strong> / kilo
                    </p>

                    <button routerLink="/cotizar"  class="btn">Cotizar</button>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
</section>
