<app-navigation-bar></app-navigation-bar>
<div class="container">
  <div class="title">
    <h1>Contáctanos</h1>
  </div>
  <div class="contact-form">
    <div class="input-fields">
      <input type="text" class="input" placeholder="Nombre">
      <input type="text" class="input" placeholder="Email">
      <input type="text" class="input" placeholder="Teléfono">
      <input type="text" class="input" placeholder="Asunto">
    </div>
    <div class="msg">
      <textarea placeholder="Mensaje"></textarea>
      <div routerLink="/home" class="btn-send">enviar</div>
    </div>
  </div>
</div>