body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Roboto', sans-serif;
}

.home-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-image: linear-gradient(to right top, #77c3fd, #67b8ff, #5dacff, #599fff, #5d91ff, #6a8eff, #768bfe, #8287fd, #908ffd, #9c98fc, #a8a1fc, #b3aafc);
  background-size: cover;
}

.main{
  height: calc(100vh - 92px);
}

.main-content {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 75%;
  padding: 40px;

  flex: 1;

}

.title-container {
  max-width: 100%;
}

h1 {
  font-size: 5em;
  font-weight: bold;
  color: white;
  margin-bottom: 5px;
  line-height: 1.2;
}

img {
  max-width: 100%;
  height: auto;
  margin-top: 5px;
}

.footer {
  padding: 20px 0;
  text-align: center;
  height: 10%;
}

.bank-logos {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.bank-logos img {
  max-width: 120px;
  filter: brightness(0) invert(1);
}


.logout-link {
  position: absolute;
  top: 35px;
  right: 10px;
  color: #fff;
  text-decoration: none;
  display: flex;
  align-items: center;
}


.logout-link mat-icon {
  font-size: 40px;
  margin-right: 5px;
  height: 40px;
  width: 40px;
}
