<div class="home-container">
  <!-- MLOGOUTTT FUNCIONA -->

  <!-- navbar -->
  <app-navigation-bar></app-navigation-bar>

<div class="main">
  <div class="main-content">
    <div class="title-container">
      <h1>El auto de tus sueños te espera</h1>
    </div>
    <div class="content-image">
      <img src="/assets/images/orangevehicle.png" alt="Auto de tus sueños" />
    </div>
  </div>

  <footer class="footer">
    <div class="bank-logos">
      <img src="/assets/images/bcp.png" alt="banco1" />
      <img src="/assets/images/Interbank.png" alt="banco1" />
      <img src="/assets/images/bbva.png" alt="banco1" />
      <img src="/assets/images/Scotiabank.png" alt="banco1" />
    </div>
  </footer>
</div>

</div>
