/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body {
    margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;
  background-image: linear-gradient(to right top, #ff7e5f, #feb47b, #ff7c7c, #f78888, #f3a0a0);
  background-size: cover;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
